<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Console</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
</head>
<body>
    <h3>Console - admin</h3>
    {{#each players}}
    <div class="player-{{this.username}}">
        <h5>ID: {{this.id}}</h5>
        <h5>Password: {{this.password}}</h5>
        <h5>Luong: {{this.luong}}</h5>
        <h5>Lock: {{this.lockacc}}</h5>
        <h5>Role: {{this.role}}</h5>
        <button onclick="unlock(`{{this.username}}`);" style="width: 100px;">Unlock</button>
        <button onclick="lock(`{{this.username}}`);" style="width: 100px;">Lock</button>
        <button onclick="makeAdmin(`{{this.username}}`);" style="width: 100px;">Make admin</button>
        <button onclick="cancelAdmin(`{{this.username}}`);" style="width: 100px;">Cancel admin</button>
    </div>
    {{/each}}
    <script src="/js/main.js"></script>
</body>
</html>